body {
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
}
#search{
    transition: all 0.25s ease;
}
#search:focus{
    transform: scale(1.02);
}
#save-btn{
    transition: transform 0.2s ease-in-out;
}
#save-btn:active{
    transform: scale(0.9);
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
